<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/d3/d3.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/javascripts/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>
    <script type="text/javascript" src="/javascripts/chart.js"></script>
  </head>
  <body ng-app="agStats">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-controller="agStatsCtrl">
      <my-scatter-chart class="chart" players="players"></my-scatter-chart>
      <my-scatter-chart class="chart" player="player"></my-scatter-chart>
      <my-scatter-chart class="chart"></my-scatter-chart>
      <table>
        <thead>
          <tr>
              <th>Player Name</th>
              <th>Homeruns</th>
              <th>Hits</th>
              <th>RBI</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in players.data">
              <td>{{player.playerID}}</td>
              <td>{{player.HR}}</td>
              <td>{{player.H}}</td>
              <td>{{player.RBI}}</td>
          </tr>
          </tbody>
      </table>
    </div>
  </body>
</html>
