<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/d3/d3.js"></script>
    <script type="text/javascript" src="/javascripts/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/nvd3/build/nv.d3.js"></script>
    <script type="text/javascript" src="/javascripts/angular-nvd3/dist/angular-nvd3.js"></script>
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>
    <link rel="stylesheet" href="javascripts/nvd3/build/nv.d3.css">
  </head>
  <div class="test">

  </div>
  <body ng-app="agStats">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div ng-controller="agStatsCtrl">

      <nvd3 options="options" data="data"></nvd3>


      <table>
        <thead>
          <tr>
              <th>Player Name</th>
              <th>Homeruns</th>
              <th>Hits</th>
              <th>RBI</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in players | orderBy: 'HR'">
              <td>{{player.playerID}}</td>
              <td>{{player.HR}}</td>
              <td>{{player.H}}</td>
              <td>{{player.RBI}}</td>
          </tr>
          </tbody>
      </table>
    </div>
  </body>
</html>
